*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bg-img{
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-text{
  color: white;
  background-color: red;
  width: fit-content;
  padding: 5px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  margin-left: 100px;
}

.links span{
  margin-left: 30px;
}

.links span a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 10px;

}

.links span a:hover{
  background-color: red;
  color: white;
  border-radius: 10px;
}

.footer{
  background-color: #659DBD;
  text-align: center;
  padding: 20px;
  color: white;
  margin-top: 20%;
}

.body-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 15%;
}

.main-content{
  padding: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 30px;
}

.text-content{
  margin-bottom: 40px;
}

.btn-content button{
  background: none;
  border: none;
}
.btn-content a{
  background-color: red;
  padding: 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}